html {
  --color-accent: oklch(82.076% 0.16231 76.525);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  display: block;
  margin: 8px;
  margin-inline: auto;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  display: flex;
  margin-bottom: 1em;
 --border-color: oklch(80% 0 200 / 40%);
  border-bottom: 1px solid var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.4em;
}

nav a:hover {
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  border-bottom: 0.4em solid var(--color-accent);
}

nav a.current {
  border-bottom: 0.4em solid var(--border-color);
  font-weight: bold;
}

ul {
  display: contents;
}

li {
  display: contents;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  font: inherit;
}

button {
  grid-column: 1 / -1;
  font: inherit;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0.2em;
}


h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
  margin-block: 0.5em;
}

header p {
  margin: 0.2em 0;
  font-size: 1.1rem;
}

body {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-block: 2.5rem;
}

section p a {
  text-decoration: none;
}

section p a:hover {
  text-decoration: underline;
}

header h1 {
  margin-block: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ddd;
}



section h2{
  margin-block: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ddd;
}


article {
  margin-block: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ddd;
}


article h3 {
  font-size: 1.3rem;
  margin-bottom: 0.3em;
}

article:last-child {
  border-bottom: none;
}

label.color-scheme{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  text-align: center;
  gap: 0.5rem;
}

#profile-stats dt {
  grid-row: 1;           /* ALL labels go in row 1 */
  font-size: 0.8rem;
  color: #6b7280;        /* gray like screenshot */
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

#profile-stats dd {
  grid-row: 2;           /* ALL values go in row 2 */
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
}
